<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <title>Yellow Studio Practice/title</title>
    <link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet prefetch" href="https://fonts.googleapis.com/css?family=Oswald:300,400,700">
    <link rel="stylesheet" href="css/style.css">
  </head>
</html>
<body><a class="home_top" href="#header">^</a>
  <nav class="navbar navbar-default navbar-fixed-top navbarCustom">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="#header">Yellow Studio</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav navbar-right">
          <li id="nav_about"><a href="#sectionAbout">About</a></li>
          <li id="nav_service"><a href="#sectionService">Service</a></li>
          <li id="nav_works"><a href="#sectionWork">Works</a></li>
          <li id="nav_contact"><a href="#sectionContact">Contact</a></li>
        </ul>
      </div>
      <!-- /.nav-collapse-->
    </div>
  </nav>
  <header id="header">
    <div class="container"><img class="headerIcon" src="https://awiclass.monoame.com/img/webpic/w_icon.svg" alt="Yellow Studio Logo">
      <div class="explore atTop">EXPLORE</div><img class="margin margin_index" src="https://awiclass.monoame.com/img/margin/m_index.svg">
    </div>
  </header>
  <section id="sectionAbout"><img class="margin_about" src="https://awiclass.monoame.com/img/margin/m_about.svg"><img id="cat" src="http://awiclass.monoame.com/catpic/cat_top.png">
    <div id="cross"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-4"><img class="tri tri-1" src="https://awiclass.monoame.com/img/webpic/w_tri1.svg">
          <h2 class="text_r1">WORKS IN YELLOW</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4"><img class="tri tri-2" src="https://awiclass.monoame.com/img/webpic/w_tri2.svg"></div>
        <div class="col-sm-8"><img class="tri tri-3" src="https://awiclass.monoame.com/img/webpic/w_tri3.svg">
          <h4 class="text_r2">Website Design / Development</h4>
          <h4 class="text_r2">Interactive Art Design</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <h3 class="text_r3">430 MORE SUCCESS CASE</h3>
        </div>
        <div class="col-sm-4"><img class="tri tri-5" src="https://awiclass.monoame.com/img/webpic/w_tri5.svg"></div>
      </div>
      <div class="row">
        <div class="col-sm-4"><a class="btn btn-lg btn-default" href="#sectionWork">More Case</a><img class="tri tri-4" src="https://awiclass.monoame.com/img/webpic/w_tri4.svg"></div>
      </div>
    </div>
  </section>
  <section id="sectionService">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2>Service</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4"><img class="icon_service" src="https://awiclass.monoame.com/img/webpic/w_service_icon1.svg">
          <h4>CI/VI Design</h4>
        </div>
        <div class="col-sm-4"><img class="icon_service" src="https://awiclass.monoame.com/img/webpic/w_service_icon2.svg">
          <h4>MotionGraphic</h4>
        </div>
        <div class="col-sm-4"><img class="icon_service" src="https://awiclass.monoame.com/img/webpic/w_service_icon3.svg">
          <h4>Web Development</h4>
        </div>
      </div>
    </div>
  </section>
  <section id="sectionWork">
    <div class="container" id="app">
      <div class="row" v-if="works.length&gt;0">
        <div class="col-sm-12">
          <h2>Works</h2>
        </div>
        <div class="col-sm-6 works showtext" v-for="item in works.slice(8,9)"><img class="img-big" v-bind:style="'background-image:url('+item.img+')'">
          <div class="context">
            <h4>{{item.name}}</h4>
            <p>{{item.description}}</p>
          </div>
        </div>
        <div class="col-sm-6 works smallWorks">
          <div class="col-sm-6 showtext" v-for="item in works.slice(3,7)"><img class="img-small" v-bind:style="'background-image:url('+item.img+')'">
            <div class="context">
              <h4>{{item.name}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="sectionContact">
    <div class="contianer">
      <div class="row">
        <div class="col-sm-6 mail">
          <div class="cover"><img src="https://awiclass.monoame.com/img/webpic/w_mail_cover.svg"></div>
          <div class="letter">
            <h4>Dear Yellow Studio,</h4><br>
            <form>
              <label>Name</label>
              <input type="text" placeholder="your name...">
              <label>Email</label>
              <input type="text" placeholder="your email...">
              <label>Contact</label>
              <textarea wrap="virtual" placeholder="want to say something?"></textarea>
              <input class="btn_send" type="submit" value="SEND" disabled="true">
            </form>
          </div>
        </div>
        <div class="col-sm-6 contact"><br>
          <h2>Contact</h2><br>
          <p>If you have any question about us, <br>Don`t hestitate to contact us !</p><br><br>
          <p>YELLOWSTUDIO@gmail.com<br>ADDRESS: TAIWAN, TAIPEI , XORO Road<br>Phone: 02-12345678</p>
        </div>
      </div><img class="cat" id="cat_blue" src="http://awiclass.monoame.com/catpic/cat_blue_cat.png" alt=""><img class="cat" id="cat_yellow" src="http://awiclass.monoame.com/catpic/cat_yellow_cat.png" alt=""><img class="cat" id="cat_grey" src="http://awiclass.monoame.com/catpic/cat_grey_cat.png" alt="">
    </div>
  </section>
  <footer id="footer"><img class="icon_footer" src="https://awiclass.monoame.com/img/webpic/w_icon_black.svg"></footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.js"></script>
  <script src="js/index.js"></script>
</body>